
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    width: 296px;
    height: 450px;
    padding: 2rem 2rem;
    
}

.box h1{
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
   
    
    line-height: 9rem;
}

.box p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: hsla(0, 0%, 100%, 0.75);
}

.box1{
    background-color: hsl(31, 77%, 52%);
}

.box2{
    background-color: hsl(184, 100%, 22%);
}
.box3{
    background-color: hsl(179, 100%, 13%);
}

.btn{
  margin: 60px 0; 
  padding: 0.7rem;
  width: 8rem;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 95%);
}






